@charset "utf-8";
/* CSS Document */
h1 {
	color: red;
}
.title {
	animation: colorchange 10s infinite;
}
	@keyframes colorchange {
		0% {
		color:red;
		}
		16.6% {
			color:orange;
		}
		16.6%{
			color:yellow;
		}
		16.6% {
			color:green;
		}
		16.6% {
			color:blue;
		}
		16.6% {
			color:indigo;
		}
		17% {
			color:purple;
		}
	}
	
